.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: transparent;
}
.signup-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    min-height: 40%;
    background-color:white;
    background-image: url("https://kinneygroup.com/wp-content/uploads/2019/10/fw-bg-gradient.png");
    background-size: cover;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px;
    animation: login-box;
    animation-duration: 3s;
}
@keyframes login-box{
    from{
        transform: translateY(110%);
    }
}
.signup-form{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    width:80%;
    display: flex;
    flex-direction: column;
}
#log-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
#submit-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}